{% extends 'template.html' %} {% block content %} {% include 'nav.html' %}
<div class="row">
  <h2>Contato</h2>
  <form class="row shadow p-4 border border-white" action="" method="post">
    {{ form.csrf_token }}

    <div class="col-6">
      {{ form.nome.label() }} {{ form.nome(class="form-control") }}
    </div>
    <div class="col-6">
      {{ form.email.label() }} {{ form.email(class="form-control") }}
    </div>
    <div class="col-6">
      {{ form.assunto.label() }} {{ form.assunto(class="form-control") }}
    </div>
    <div class="col-6">
      {{ form.mensagem.label() }} {{ form.mensagem(class="form-control") }}
    </div>
    <div class="d-flex justify-content-end mt-4">
      {{ form.btnSubmit(class="btn btn-success") }}
    </div>

    {% endblock %}
  </form>
</div>
