{% extends 'template.html' %} {% block content %}
{% include 'nav.html' %}
<div class="row">
  <h2>Lista de contatos</h2>
  <form method="get" class="row">
    <div class="col-9">
      <input type="text" class="form-control" name="pesquisa" />
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
  </form>
  <div>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Assunto</th>
          <th scope="col">Respondido</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for contato in context['dados'] %}
        <tr>
          <th scope="row">{{ contato.nome }}</th>
          <td>{{ contato.email }}</td>
          <td>{{ contato.assunto }}</td>
          <td>{% if contato.respondido == 0 %} Não {% else %} Sim {% endif %}</td>
          <td><a href="{{ url_for('contatoDetail', id=contato.id )}}" class="btn btn-primary">Detalhe</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
</div>
